@import "tailwindcss";

@layer reset, base, tokens, recipes, utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Codec Pro", "Roboto", sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba();
}
